page-needs-emergency {

    // for the whole needs emergency page
    #main {
        background: color($colors, bgcolor);
    }

    // for the every needs card
    .deco {
        background-image: url("../../assets/imgs/need_bottom_icon_deco.png"), url("../../assets/imgs/need_bottom_deco.png") !important;
        background-position: right 33px bottom 33px, right bottom !important;
        background-size: 25px, 140px !important;
        background-repeat: no-repeat, no-repeat !important;
        height: 240px !important;
        margin-top: 20px !important;
        padding: 10px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    p {
        font-size: 16px !important;
    }

    // for all cards in this page for all platform 
    .card-ios, .card-md, .card-wp {
        margin: 12px;
        border-radius: 2px;
        width: calc(100% - 24px);
        font-size: 1.4rem;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 5px 12px rgba(255, 111, 87,0.4) !important;
    }

    .refresher-pulling-icon, .refresher-refreshing-icon {
        color: #ff6f57 !important;
    }
      
    .refresher-pulling-text, .refresher-refreshing-text {
        color: #ff6f57 !important;
    }
      
    .refresher-refreshing .spinner-ios line,
    .refresher-refreshing .spinner-ios-small line,
    .refresher-refreshing .spinner-crescent circle {
        stroke: #ff6f57 !important;
    }
      
    .refresher-refreshing .spinner-bubbles circle,
    .refresher-refreshing .spinner-circles circle,
    .refresher-refreshing .spinner-dots circle {
        fill: #ff6f57 !important;
    }

}