<!-- header segment of the page -->
<ion-header>
  <ion-navbar>
    <ion-title>NEEDS</ion-title>
    <ion-buttons end>
      <button ion-button (click)="push__needs_create_page()">
        <p>Create</p>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- body segment of the page -->
<ion-content no-padding id="main">
  <ion-grid no-padding>

    <!-- Emergency needs (vertical scroll) -->
    <h3 ion-text text-uppercase color="card-header" style="margin-top: 30px; margin-bottom:0px; padding-left: 12px;">Emergency Needs</h3>
    <ion-scroll scrollX="true" style="white-space: nowrap;">
      <ion-list>
        <ion-card class="ion-card-needs deco" *ngFor="let needEmg of needEmergencyData | async" (click)="push__needs_single_page(needEmg)">
          <ion-card-content>
            <ion-row no-padding no-margin>
              <ion-col no-padding no-margin>
                <h1 style="font-size: 60px;" ion-text text-uppercase color="primary">{{needEmg.bloodgroup}}</h1>
                <br>
              </ion-col>
              <ion-col no-padding no-margin>
                <p ion-text text-right padding-top color="gray-aaa">2 donors enrolled</p>
              </ion-col>
            </ion-row>
            <h2 ion-text text-uppercase color="dark">{{needEmg.district}}</h2>
            <br>
            <p ion-text color="gray-aaa">On or Before</p>
            <p ion-text padding-bottom color="dark">
              <b>{{needEmg.needbefore}}</b>
            </p>
          </ion-card-content>
        </ion-card>
        
        <ion-card class="ion-card-more">
          <ion-card-content style="height: 100% !important;" (click)="push__needs_emergency_page()">
            <ion-row no-padding no-margin align-items-center style="height: 100% !important;">
              <ion-col no-padding no-margin text-center>
                <h1>
                  <ion-icon name="md-arrow-round-forward" color="white"></ion-icon>
                </h1>
                <br>
                <h2 ion-text text-uppercase color="white">More Needs...</h2>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ion-scroll>

    <!-- Nearby needs (vertical scroll) -->
    <h3 ion-text text-uppercase color="card-header" style="margin-top: 30px; margin-bottom:0px; padding-left: 12px;">Nearby Needs</h3>
    <ion-scroll scrollX="true" style="white-space: nowrap;">
      <ion-list>
        <ion-card class="ion-card-needs deco" *ngFor="let needNrby of needNearbyData | async" (click)="push__needs_single_page(needNrby)">
          <ion-card-content>
            <ion-row no-padding no-margin>
              <ion-col no-padding no-margin>
                <h1 style="font-size: 60px;" ion-text text-uppercase color="primary">{{needNrby.bloodgroup}}</h1>
                <br>
              </ion-col>
              <ion-col no-padding no-margin>
                <p ion-text text-right padding-top color="gray-aaa">2 donors enrolled</p>
              </ion-col>
            </ion-row>
            <h2 ion-text text-uppercase color="dark">{{needNrby.district}}</h2>
            <br>
            <p ion-text color="gray-aaa">On or Before</p>
            <p ion-text padding-bottom color="dark">
              <b>{{needNrby.needbefore}}</b>
            </p>
          </ion-card-content>
        </ion-card>
        <!-- <ion-card class="ion-card-more">
          <ion-card-content style="height: 100%;">
            <ion-row no-padding no-margin align-items-center style="height: 100%;">
              <ion-col no-padding no-margin text-center>
                <h1>
                  <ion-icon name="md-arrow-round-forward" color="white"></ion-icon>
                </h1>
                <br>
                <h2 ion-text text-uppercase color="white">More Needs...</h2>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card> -->
      </ion-list>
    </ion-scroll>
  </ion-grid>
</ion-content>