page-diseases {

    // for the whole page
    #main {
        background: color($colors, bgcolor);
    }

    // for diseases cards
    .diseases {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        background: #ff6f57 !important;
    }

    // for all cards in this page for all platform 
    .card-ios, .card-md, .card-wp {
        margin: 12px;
        border-radius: 2px;
        width: calc(100% - 24px);
        font-size: 1.4rem;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 5px 12px rgba(255, 111, 87,0.4) !important;
    }

}
