<!-- header segment of the page -->
<ion-header>
  <ion-navbar>
    <ion-title>CREATE NEW EVENT</ion-title>
  </ion-navbar>
</ion-header>

<!-- body segment of the page -->
<ion-content no-padding no-bounce id="main">
  <ion-grid>

    <!-- Upload event cover image from photo gallery -->
    <ion-row id="events-form" style="padding-top: 10px; padding-bottom: 15px;">
      <h3 ion-text text-uppercase color="primary" style="padding-left: 5px;">Cover Image :</h3>
      <ion-row>
        <img [src]="imageUrl" class="cover-picture" />
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button block strong color="green" class="btn-openGallery" (click)="openGallery()">Open Gallery</button>
        </ion-col>
        <ion-col>
          <button ion-button block strong class="btn-deletePhoto" *ngIf="imageUrlNew" (click)="deletePhoto()">Delete Image</button>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row justify-content-center id="events-form">
      <ion-col>

        <!-- Name field -->
        <ion-item no-padding>
          <ion-label color="primary" floating>
            <h2>Name* :</h2>
          </ion-label>
          <ion-input clearInput type="text" [(ngModel)]="event.name" name="name"></ion-input>
        </ion-item>

        <!-- Contact field (number) : required -->
        <ion-item no-padding>
          <ion-label color="primary" floating>
            <h2>Contact* :</h2>
          </ion-label>
          <ion-input clearInput type="tel" [(ngModel)]="event.contact" name="contact"></ion-input>
        </ion-item>

        <!-- Description field (text area) -->
        <ion-item no-padding>
          <ion-label color="primary" floating>
            <h2>Description :</h2>
          </ion-label>
          <ion-textarea type="text" [(ngModel)]="event.desc" name="desc" (input)="adjustTextarea($event);"></ion-textarea>
        </ion-item>

        <!-- Date field (datepicker) : required -->
        <ion-item no-padding>
          <ion-label color="primary" floating>
            <h2>Date* :</h2>
          </ion-label>
          <ion-datetime displayFormat="MMM DD, YYYY" [min]="today" max="2020" [(ngModel)]="event.date" name="date"></ion-datetime>
        </ion-item>

        <!-- Place field -->
        <ion-item no-padding>
          <ion-label color="primary" floating>
            <h2>Place* :</h2>
          </ion-label>
          <ion-input clearInput type="text" [(ngModel)]="event.place" name="place"></ion-input>
        </ion-item>

        <!-- District field (selection) : required -->
        <ion-item no-padding>
          <ion-label color="primary" floating>
            <h2>District* :</h2>
          </ion-label>
          <ion-select okText="Select" cancelText="Dismiss" [(ngModel)]="event.district" name="district">
            <ion-option value="Ampara">Ampara</ion-option>
            <ion-option value="Anuradhapura">Anuradhapura</ion-option>
            <ion-option value="Badulla">Badulla</ion-option>
            <ion-option value="Batticaloa">Batticaloa</ion-option>
            <ion-option value="Colombo">Colombo</ion-option>
            <ion-option value="Galle">Galle</ion-option>
            <ion-option value="Gampaha">Gampaha</ion-option>
            <ion-option value="Hambantota">Hambantota</ion-option>
            <ion-option value="Jaffna">Jaffna</ion-option>
            <ion-option value="Kalutara">Kalutara</ion-option>
            <ion-option value="Kandy">Kandy</ion-option>
            <ion-option value="Kegalle">Kegalle</ion-option>
            <ion-option value="Kilinochchi">Kilinochchi</ion-option>
            <ion-option value="Kurunegala">Kurunegala</ion-option>
            <ion-option value="Mannar">Mannar</ion-option>
            <ion-option value="Matale">Matale</ion-option>
            <ion-option value="Matara">Matara</ion-option>
            <ion-option value="Monaragala">Monaragala</ion-option>
            <ion-option value="Mullaitivu">Mullaitivu</ion-option>
            <ion-option value="Nuwara Eliya">Nuwara Eliya</ion-option>
            <ion-option value="Polonnaruwa">Polonnaruwa</ion-option>
            <ion-option value="Puttalam">Puttalam</ion-option>
            <ion-option value="Ratnapura">Ratnapura</ion-option>
            <ion-option value="Trincomalee">Trincomalee</ion-option>
            <ion-option value="Vavuniya">Vavuniya</ion-option>
          </ion-select>
        </ion-item>

        <!-- Two different create buttons for with & without empty required fields -->
        <button ion-button block strong class="btn-create" *ngIf="!event.name || !event.contact || !event.date || !event.place || !event.district"
          (click)="blank_create()">CREATE</button>
        <button ion-button block strong class="btn-create" *ngIf="event.name && event.contact && event.date && event.place && event.district"
          (click)="create(event)">CREATE</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>