page-events {

    // for the whole needs page
    #main {
        background: color($colors, bgcolor);
    }

    h2 {
        font-family: 'Proxima Nova' !important;
        font-weight: 800 !important;
        font-size: 24px !important;
    }

    // For notification button
    #notification-badge {
        position: relative;
    }
    
    // For notification badge
    #notification-badge {
        position: absolute;
        top: 0px;
        right: -16px;
        background: #ff9a8a;
    }

    // for all cards in this page for all platform 
    .card-ios, .card-md, .card-wp {
        margin: 12px;
        border-radius: 2px;
        width: calc(100% - 24px);
        font-size: 1.4rem;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 5px 12px rgba(255, 111, 87,0.4) !important;
    }
}
